
<div class="grid_9 alpha"><h1> <%= @friend.name %>

</h1></div>

<div class="grid_2"><%= link_to 'Sil', @friend, :confirm =>
        "Bu adamı silince borçlarını da silmiş olacaksın. Bir daha düşün !", :method=>"delete", :class => "button" %></div>
<div class="grid_2"><%= link_to 'Düzenle', edit_friend_path(@friend), :class => "button" %></div>
<div class="grid_2 omega"><%= link_to 'Geri', 'javascript:history.go(-1)', :class => "button" %></div>
<div class="clear"></div>


<p>
  <b>Email adresi:</b>
  <%= mail_to(@friend.email) %>
</p>

<p>
  <b>Toplam Borcu:</b>
  <%= @friend.total_debit %> TL
</p>

<p>
  <b>Ödediği miktar:</b>
  <%= @friend.total_paid  %> TL
</p>

<p>
  <b>Ödemediği miktar:</b>
  <%= @friend.total_not_paid %> TL
</p>

<% if @friend.total_paid == 0 and @friend.total_debit > 0  %>
<div class="grid_12 alpha">
  <h1>Dertler derya olmuş, bu arkadaş hiç borcunu ödememiş.<br /> Sen hala duruyorsun öyle. Arkadaşın derhal kınanması lazım !</h1>
  <strong>Şimdi sağdan bir kınama biçimi seç ve sosyal medyayı kullanarak kınım kınım kına.</strong>
</div>


<div class="grid_3  omega">
<a data-related="<%= @friend.twitter_username %>" href="https://twitter.com/intent/tweet?screen_name=<%= @friend.twitter_username %>&text=üç gün dedin beş gün dedin aylar oldu gelmedin. ne zaman ödiycen borcumu ?" class='button'>Biçimsiz</a>
<a data-related="<%= @friend.twitter_username %>"  href="https://twitter.com/intent/tweet?screen_name=<%= @friend.twitter_username %>&text=kanka o değil de hani şey. ımmm kem küm. biliyosun işte. şu borç olayı. sıkıntı yok ama ama onu bir hatırlatayım dedim."   class='button'>Kırmadan</a>
<a data-related="<%= @friend.twitter_username %>"  href="https://twitter.com/intent/tweet?screen_name=<%= @friend.twitter_username %>&text=bana tam <%=@friend.total_debit%> TL borcun varmış %23takanak öyle diyor. doğru mu hacı ?"   class='button'>Dolaylı Yoldan</a></div>
<% end %>

<div class="clear"></div>

<h1>Kayıtlı borçları</h1>

<table>
  <tr>
     <th>Miktar</th>
    <th>Durum</th>
    <th>Borç verdiğiniz tarih</th>
    <th>Ödediği tarih</th>
    <th width="90"></th>
    <th width="90"></th>
  </tr>
<% if !@friend.debits.exists? %>
      <tr>
        <td colspan="4">Tertemiz. Hiç borç yok. Tabi ki de öyle değil. Şimdi borçlarını tanımla.</td>
      </tr>
<% end %>
<% @friend.debits.each do |debit| %>
  <tr>
     <td><%= debit.amount %></td>
    <td><%= debit.get_status %></td>
    <td><%= distance_of_time_in_words(Time.now, debit.created_at) %> önce </td>
    <td>
      <% if debit.updated_at == debit.created_at %>
      hiç ödemedi ki
          <% else %>
      <%= distance_of_time_in_words(Time.now, debit.updated_at) %> önce
          <% end %>
          </td>
    <td><%= link_to 'İşlem Yap', edit_debit_path(debit) %></td>
    <td><%= link_to 'Borcu Sil', debit, confirm: 'Silmek istediğinden emin misin ?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="grid_3 alpha">
  <%= link_to 'Yeni Borç Ekle', new_debit_path(:friend_id=>@friend.id), :class => "button" %>
</div>

