
<p>
  <b>Friend:</b>
  <%= @debit.friend %>
</p>

<p>
  <b>Amount:</b>
  <%= @debit.amount %>
</p>

<p>
  <b>Status:</b>
  <%= @debit.status %>
</p>


<%= link_to 'Edit', edit_debit_path(@debit) %> |
<%= link_to 'Back', debits_path %>
